In [29]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm

$$
d_1 = \frac{\ln(\frac{S}{K}) + (r + \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

$$
d_2 = d_1 - s \cdot \sqrt{t} = \frac{\ln(\frac{S}{K}) + (r - \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

In [30]:
# Create functions for Black Scholes formula

def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev**2 / 2) * T) / (stdev * np.sqrt(T))

def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev**2 / 2) * T) / (stdev * np.sqrt(T))

$$
\textbf{C} = SN(d_1) - Ke^{-rt}N(d_2)
$$

In [31]:
def BSM(S, K, r, stdev, T):
    return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

In [32]:
ticker = 'PG'
data = pd.DataFrame()
data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2012-1-1', end='2022-10-31')['Adj Close']
data

                    PG
Date
2012-01-03   48.218838
2012-01-04   48.197193
2012-01-05   47.995155
2012-01-06   47.879730
2012-01-09   48.081753
...                ...
2022-10-25  130.860001
2022-10-26  131.779999
2022-10-27  131.880005
2022-10-28  135.220001
2022-10-31  134.669998

[2726 rows x 1 columns]

In [33]:
S = data.iloc[-1]
S

PG    134.669998
Name: 2022-10-31 00:00:00, dtype: float64

In [34]:
log_return = np.log(data/data.shift(1))
log_return

                  PG
Date
2012-01-03       NaN
2012-01-04 -0.000449
2012-01-05 -0.004201
2012-01-06 -0.002408
2012-01-09  0.004210
...              ...
2022-10-25  0.011452
2022-10-26  0.007006
2022-10-27  0.000759
2022-10-28  0.025011
2022-10-31 -0.004076

[2726 rows x 1 columns]

In [35]:
stdev = log_return.std()*250**.5
stdev

PG    0.178691
dtype: float64

In [36]:
r = 0.0381
K = 110.0
T = 1

In [37]:
d1(S, K, r, stdev, T)

PG    1.434949
dtype: float64

In [38]:
d2(S, K, r, stdev, T)

PG    1.256259
dtype: float64

In [39]:
BSM(S, K, r, stdev, T)

PG    29.66073
Name: 2022-10-31 00:00:00, dtype: float64